.hair {
  background: linear-gradient(rgba(200, 170, 200, .8) 0%, rgba(255, 255, 255, 0.9) 100%);
  border-bottom: 4px solid rgb(175, 175, 175);
  padding-bottom: 50px;
}

.hair__title {
  font-size: 75px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  text-shadow: 1px 1px #000;
}

.hair__class {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 10px 0 0;
  text-shadow: .5px .5px #000;
}

.hair__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hair__service {
  list-style-type: none;
  display: flex;
  width: 50%;
  margin: 0 auto;
  gap: 10px;
  font-size: 30px;
}

.hair__service-divider {
  flex-grow: 1;
  border-bottom: 1px dotted #000;
}

.hair__video-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hair__video {
  margin: 50px 0 0;
  min-width: 350px;
  width: 30%;
  border-radius: 15px;
}

.hair__pictures-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hair__picture {
  margin: 50px 0 0;
  min-width: 350px;
  height: 500px;
  border-radius: 15px;
}

@media screen and (max-width: 500px) {
  .hair__title {
    font-size: 50px;
  }

  .hair__service {
    font-size: 15px;
  }
}