.nav {
  background-color: rgba(200, 170, 200, .8);
  border-bottom: 4px solid rgb(175, 175, 175);
  margin: 0px;
  padding: 0px;
}

.nav__links {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  padding: 15px;
  margin: 0px;
}

.nav__link {
  list-style-type: none;
  border: 2px solid rgb(175, 175, 175);
  border-radius: 40%;
  padding: 9px;
  cursor: pointer;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 2px 3px 4px rgba(0, 0, 0, .4);
  width: max-content;
}

.nav__link:hover {
  transform: scale(1.2, 1.2);
}

.nav__link-text {
  text-decoration: none;
  color: rgb(134, 2, 134);
  font-weight: 600;
  font-size: 20px;
}