.page {
  background-color: #fff;
  font-family: "DancingScript", Helvetica, serif;
  min-width: 360px;
  color: rgb(134, 2, 134);
  letter-spacing: 1px;
}

@media screen and (max-width: 500px) {
  .page {
    font-size: 10px;
  }
}